.todo-container {
    background-color: var(--background-color);
    padding: 1.5rem;
    /* box-shadow: 2px 1.5px 8px #141313; */
    height: 85%;
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todo-container h2 {
    color: var(--text-color)
}

.todo-container .todo_input {
    background-color: var(--container-color);
    border: none;
}

.todo-container .save_button {
    background-color: var(--text-color);
    color: white;
    border: none
}

.todo-container .save_button:hover {
    background-color: var(--text-color);
    color: white;
    border: none;
    transform: scale(1.05, 1.05);
}

.todo-container .todo_list {
    margin-top: 10px;
    background-color: transparent
}

.todo-container .todo_list .todo_item {
    background-color: var(--container-color);
    border-radius: 5px;
    margin-top: 8px;
}

.todo-container .todo_list .todo_item button {
    color: var(--text-color);
}